{% extends "basepage/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}AN-ankieta{% endblock %}
{% block content %}
<div class="container p-3 text-center">
    {{ text|safe }}
</div>
    <div class="container p-3">
        <form method="post">
        {% csrf_token %}
            <div class="row justify-content-center align-items-end g-4 mb-4">
                <div class="col-md-5">
                    <label class="form-label">{{ form.plec.label_tag }}</label>
                    {% render_field form.plec class="form-select" %}
                </div>
                <div class="col-md-5">
                    <label class="form-label">{{ form.wiek.label_tag }}</label>
                    {% render_field form.wiek class="form-select" %}
                </div>
            </div>
            <div class="row justify-content-center align-items-end g-4 mb-4">
                <div class="col-md-10">
                    {{ form.wybrani_instruktorzy.label_tag }}
                    {{ form.wybrani_instruktorzy }}
                    {{ form.wybrani_instruktorzy.errors }}
                </div>
                <div id="instruktorzy-oceny-container" class="mt-4">
                </div>


                <div class="col-md-5">
                    <label class="form-label">{{ form.startowa_wiedza.label_tag }}</label>
                    {% render_field form.startowa_wiedza class="form-select" %}
                </div>
                <div class="col-md-5">
                    <label class="form-label">{{ form.nabycie_wiedzy.label_tag }}</label>
                    {% render_field form.nabycie_wiedzy class="form-select" %}
                </div>
                <div class="col-md-5">
                    <label class="form-label">{{ form.prowadzenie_rejsu.label_tag }}</label>
                    {% render_field form.prowadzenie_rejsu class="form-select" %}
                </div>
                <div class="col-md-5">
                    <label class="form-label">{{ form.czy_polecisz.label_tag }}</label>
                    {% render_field form.czy_polecisz class="form-select" %}
                </div>

            </div>

            <div class="row justify-content-center mt-4">
                <div class="col-md-5">
                    <label class="form-label">{{ form.uwagi.label_tag }}</label>
                    {% render_field form.uwagi class="form-control" %}
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary px-3">Wyślij butelkę z ankietą</button>
                </div>
            </div>


        </form>


</div>

{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>

    <script src="{% static 'basepage/js/pewne_skrypty.js' %}"></script>
{#    {% include 'basepage/includes/skrypt_backToTop.html' %}#}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            initTomSelect('.ankieta-select');
        });
    </script>
{% endblock %}