{% extends "basepage/base.html" %}
{% load static %}
{% block title %}AN-dojazd{% endblock %}
{% block content %}

<div class="container p-3">
    {{ text }}
    <div class="bg-light rounded p-3" style="width: fit-content;">


        <ul class="nawigacja-lista justify-content-center pt-2">
                                  <li class="pb-2"><a href="https://www.google.com/maps/place/Przysta%C5%84+Dunajec+Zegrze/@52.4512111,20.9978134,2263m/data=!3m1!1e3!4m6!3m5!1s0x471eb8a760ccb7f5:0xe7e8e74af69cfd2e!8m2!3d52.44649!4d21.0039288!16s%2Fg%2F1tptpc02!5m1!1e2?entry=ttu&g_ep=EgoyMDI2MDIyMi4wIKXMDSoASAFQAw%3D%3D" class="link-zeglarski">
                                    <i class="bi bi-chevron-double-right me-2"></i>
                                          Przystań Dunajec nad Zegrzem
                                    </a></li>
                                  <li class="pb-2"><a href="https://maps.app.goo.gl/9NhoomckK22J7AW87" class="link-zeglarski">
                                <i class="bi bi-chevron-double-right me-2"></i>
                                      Port Czerniakowski w Warszawie
                                  </a></li>
                                  <li><a href="https://www.google.com/maps/place/Akademicki+Zwi%C4%85zek+Sportowy+COSA+Oddzia%C5%82+w+Gda%C5%84sku/@54.3689842,18.7704327,1081m/data=!3m1!1e3!4m9!3m8!1s0x46fd6d57983a2ba5:0x51f0e02962ae3b42!5m2!4m1!1i2!8m2!3d54.3674786!4d18.776591!16s%2Fg%2F1tdw24yj!5m1!1e2?entry=ttu&g_ep=EgoyMDI2MDIyMi4wIKXMDSoASAFQAw%3D%3D" class="link-zeglarski">
                            <i class="bi bi-chevron-double-right me-2"></i>
                                      Port w Górkach Zachodnich (zatoka Gdańska)
                            </a></li>
                              </ul>

    </div>
<div class="d-block mx-auto w-75 mt-5 text-center">
    <p>Kiedy zobaczysz taką furtę, jesteś na miejscu. Przyjeżdżaj, będzie otwarta!</p>
    <img class="img-fluid w-75 w-md-100 d-block mx-auto rounded mt-3" src="{% static 'basepage/img/wejscie_Dunajec.jpg' %}" />
</div>

</div>

{% endblock %}