{% extends "basepage/base.html" %}
{% load static %}
{% block title %}AN-strona główna{% endblock %}
{% block content %}
    <div class="container px-3 px-md-5 pt-2">
    <div class=" text-black bg-white rounded p-1 pt-3 mt-3 clearfix">

        <div class="ms-1 ms-md-3 pb-2">


                <form action="{% url 'main' %}" method="get" id="sort_kursow">

                    <ul class="list-inline">
                        <li class="list-inline-item custom-check-row rounded ps-2">
                            <div class="form-check d-flex align-items-start pe-3 m-0">
                            {% if flage %}
                                <input class="form-check-input mt-1" type="checkbox" id="opcja1" name="sub1" {% if sub1 %}
                                       checked {% endif %} >
                            {% elif flage4 %}
                                <input class="form-check-input mt-1" type="checkbox" id="opcja1" name="sub1">
                            {% else %}
                                <input class="form-check-input mt-1" type="checkbox" id="opcja1" name="sub1" checked>
                            {% endif %}
                            <label class="form-check-label ps-2" for="opcja1">kursy na patent żeglarza</label>
                            </div>
                        </li>
                        <li class="list-inline-item custom-check-row rounded ps-2">
                            <div class="form-check d-flex align-items-start pe-3 m-0">
                            {% if flage %}
                                <input class="form-check-input mt-1" type="checkbox" id="opcja2" name="sub2" {% if sub2 %}
                                       checked {% endif %}>
                            {% elif flage4 %}
                                <input class="form-check-input mt-1" type="checkbox" id="opcja2" name="sub2">
                            {% else %}
                                <input class="form-check-input mt-1" type="checkbox" id="opcja2" name="sub2" checked>
                            {% endif %}
                            <label class="form-check-label ps-2" for="opcja2">kursy na patent sternika motorowodnego</label>
                            </div>
                        </li>
                        <li class="list-inline-item custom-check-row rounded ps-2">
                            <div class="form-check d-flex align-items-start pe-3 m-0">
                            {% if flage %}
                                <input class="form-check-input mt-1" type="checkbox" id="opcja3" name="sub3" {% if sub3 %}
                                       checked {% endif %}>
                            {% elif flage4 %}
                                <input class="form-check-input mt-1" type="checkbox" id="opcja3" name="sub3">
                            {% else %}
                                <input class="form-check-input mt-1" type="checkbox" id="opcja3" name="sub3" checked>
                            {% endif %}
                            <label class="form-check-label ps-2" for="opcja3">egzaminy</label>
                            </div>
                        </li>
                        <li class="list-inline-item custom-check-row rounded ps-2">
                            <div class="form-check d-flex align-items-start pe-3 m-0">
                            {% if flage %}
                                <input class="form-check-input mt-1" type="checkbox" id="opcja4" name="sub4" {% if sub4 %}
                                       checked {% endif %}>
                            {% elif flage4 %}
                                <input class="form-check-input mt-1" type="checkbox" id="opcja4" name="sub4">
                            {% else %}
                                <input class="form-check-input mt-1" type="checkbox" id="opcja4" name="sub4" checked>
                            {% endif %}
                            <label class="form-check-label ps-2" for="opcja4">manewrówki</label>
                            </div>
                        </li>
                        <li class="list-inline-item custom-check-row rounded ps-2">
                            <div class="form-check d-flex align-items-start pe-3 m-0">
                            {% if flage %}
                                <input class="form-check-input mt-1" type="checkbox" id="opcja5" name="sub5" {% if sub5 %}
                                       checked {% endif %}>
                            {% elif flage4 %}
                                <input class="form-check-input mt-1" type="checkbox" id="opcja5" name="sub5">
                            {% else %}
                                <input class="form-check-input mt-1" type="checkbox" id="opcja5" name="sub5" checked>
                            {% endif %}
                            <label class="form-check-label ps-2" for="opcja5">kursy na patent JSM</label>
                            </div>
                        </li>
                        <li class="list-inline-item custom-check-row rounded ps-2">
                            <div class="form-check d-flex align-items-start pe-3 m-0">
                            {% if flage %}
                                <input class="form-check-input mt-1" type="checkbox" id="opcja6" name="sub6" {% if sub6 %}
                                       checked {% endif %}>
                            {% elif flage4 %}
                                <input class="form-check-input mt-1" type="checkbox" id="opcja6" name="sub6">
                            {% else %}
                                <input class="form-check-input mt-1" type="checkbox" id="opcja6" name="sub6" checked>
                            {% endif %}
                            <label class="form-check-label ps-2" for="opcja6">kursy łączności (SRC oraz LRC)</label>
                            </div>
                        </li>
                    </ul>

                    <div class="d-flex flex-wrap align-items-center gap-2 mt-3">

                    <input type="hidden" name="znak_form1" value="on">
                    <button type="button" class="btn btn-outline-dark btn-sm" onclick="clearCheckboxes()">wyczyść wszystko
                    </button>
                    <button type="button" class="btn btn-outline-dark btn-sm" onclick="setCheckboxes()">zaznacz wszystko
                    </button>

                    <input type="submit" class="btn btn-outline-dark" value="Przefiltruj">
                    </div>
                </form>


                {% if bez_przyszlosci %}
                {% else %}
                    {% if jest_przeszlosc %}
                    {% if flage4 %}
                    {% else %}

                            <form action="{% url 'main' %}" method="post" style="padding-bottom: 10px;">
                            {% csrf_token %}
                            <div class="form-check custom-check-row d-inline-flex align-items-center mt-3 px-2 rounded">
                            {% if flage3 %}
                                <input class="form-check-input m-0 mt-1" type="checkbox" id="check1" {% if kalarepka0 %}
                                       checked {% endif %} name="bez" onchange="this.form.submit()">
                            {% else %}
                                <input class="form-check-input m-0 mt-1" type="checkbox" id="check1" name="bez"
                                       onchange="this.form.submit()">
                            {% endif %}
                            <input type="hidden" id="check2" name="dod_dane" {% if sign2 %}
                                   value="{{ sub1 }},{{ sub2 }},{{ sub3 }},{{ sub4 }},{{ sub5 }},{{ sub6 }}" {% else %}
                                   value="" {% endif %}>
                                <label class="form-check-label ps-2" for="check1">wyświetl również <span class="fs-5" >trwające i zakończone</span> kursy</label>
                            <br>
                            </div>
                        </form>

                    {% endif %}
                    {% endif %}
                {% endif %}

        </div>

        <div class="mb-3 ps-3">

            <p>{{ napis|safe  }}</p>

        </div>
        <div id="punkt-docelowy1"></div>
        {% if flage4 %}
        {% else %}
            {% if kalarepka0 %}
            {% else %}
                <div id="punkt-docelowy2"></div>
            {% endif %}

            <div class="container">
                {% for elem, trwa, zak in kursy_mod %}

                    {% if forloop.counter == do_kotwicy2%}
                        <div id="punkt-docelowy2"></div>
                    {% endif %}

                    <div class="row m-0 mt-2 pb-1">

                        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-center">

                            <div class="d-flex flex-wrap shadow p-3 mb-3 bg-white rounded text-start ps-1 ps-md-3" >

                                <div class="w-75 p-3">

                                    <p class="h3">  {{ elem.nazwa }} <wbr><span class="text-nowrap">{{ elem.skrot }}</span></p>
                                    {% if elem.data2 %}
                                        <p>zajęcia prowadzone w trybie {{ elem.tryb }}m</p>

                                        <p class="clearfix mb-1">
                                          <!-- Float-start tworzy wcięcie, które data będzie respektować -->
                                          <span class="float-start me-1">rozpoczęcie:</span>

                                          <!-- Kontener z datą i dniem -->
                                          <span class="d-inline-block">
                                            <span class="h5 text-nowrap me-1">{{ elem.data1|date:"d E Y" }}</span>
                                            <span class="text-nowrap">{{ elem.data1|date:"(l)" }}</span>
                                          </span>
                                        </p>

                                        <p class="clearfix">
                                          <!-- Float-start tworzy wcięcie, które data będzie respektować -->
                                          <span class="float-start me-1">zakończenie:</span>

                                          <!-- display: block tutaj zadziała jak kontener, ale jako span jest legalny w <p> -->
                                          <span class="d-inline-block">
                                            <span class="h5 text-nowrap me-1">{{ elem.data2|date:"d E Y" }}</span>
                                            <span class="text-nowrap">{{ elem.data2|date:"(l)" }}</span>
                                          </span>
                                        </p>


                                    {% else %}
                                        <div class="pt-3">
                                        <p class="clearfix">
                                          <!-- Float-start tworzy wcięcie, które data będzie respektować -->
                                          <span class="float-start me-2">data wydarzenia:</span>

                                          <!-- display: block tutaj zadziała jak kontener, ale jako span jest legalny w <p> -->
                                          <span class="d-inline-block">
                                            <span class="h5 text-nowrap me-1">{{ elem.data1|date:"d E Y" }}</span>
                                            <span class="text-nowrap">{{ elem.data1|date:"(l)" }}</span>
                                          </span>
                                        </p>
                                        </div>


                                    {% endif %}
                                </div>
                                <div class="mt-auto ms-auto text-end text-md-center pb-2">
                                {% if zak %}
                                    <p>Ten już zakończony.<br>Było epicko.</p>
                                {% elif trwa %}
                                    <p>Zawzięcie manewrujemy.<br>Szkoda, że Cię nie ma!</p>
                                {% else %}


                                    <p>cena {{ elem.cena }} zł</p>

                                    <a class="btn btn-primary text-nowrap"
                                       href="{% url 'basepage:form_zapis' elem.id %}" role="button"
                                       aria-disabled="true">Wskakuj na pokład</a>

                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    </div>
    </div>

{% endblock %}