{% extends "basepage/base.html" %}
{% load static %}
{% block title %}AN-polecajki{% endblock %}
{% block content %}

<div class="container p-3 mt-5">
{#    {{ text }}#}


  <div class="container d-flex">
      <div class="card mx-3" style="max-width: 540px;">
      <div class="row g-0 align-items-center">
          <div class="col-md-4">
            <!-- Obrazek na górze -->
          <img class="card-img-top" src="{% static 'basepage/img/pogoda.gif' %}" alt="kolejno przeskakujące grafiki słońca, chmur burz, wiatru"/>
          </div>
              <div class="card-body col-md-8">
                <h5 class="card-title">Prognoza pogody</h5>
                <p class="card-text">Różne strony z prognozą pogody.</p>
                    <div class="">
                       <a href="https://www.meteo.pl/">
                    https://www.meteo.pl/
                    </a>
                    </div>
                      <div class="">
                       <a href="https://www.windy.com/">
                    https://www.windy.com/
                    </a>
                    </div>
                      <div class="">
                       <a href="https://www.weatheronline.pl/cgi-app/sailing?03&LANG=pl&WIND=g183">
                    Prognoza dla polskiego wybrzeża Bałtyku
                    </a>
                    </div>
              </div>
      </div>
      </div>


          <div class="card mx-3" style="max-width: 540px;">
          <div class="row g-0 align-items-center">
              <div class="col-md-4">
                <!-- Obrazek na górze -->
              <img class="card-img-top col-md-4" src="{% static 'basepage/img/zamkniete.gif' %}" alt="kolejno przeskakujące grafiki słońca, chmur burz, wiatru"/>
              </div>
              <div class="card-body col-md-8">
                    <h5 class="card-title">Komunikaty nawigacyjne</h5>
                    <p class="card-text">Pod poniższymi linkami znajdziesz informacje o aktualnych zarządzeniach dotyczących ruchu na polskich wodach.</p>
                        <div class="">
                           <a href="https://www.gov.pl/web/wody-polskie-bialystok/zegluga-srodladowa">
                        Komunikaty o Mazurach
                        </a>
                        </div>
                          <div class="">
                           <a href="https://www.gov.pl/web/wody-polskie/komunikaty-nawigacyjne">
                        Strona główna komunikatów nawigacyjnych dla polskich dróg wodnych
                        </a>
                        </div>
                          <div class="">
                           <a href="https://bhmw.gov.pl/pl/warnings/current/">
                        Ostrzeżenia nawigacyjne dla polskich wód morskich
                        </a>
                        </div>
              </div>
          </div>
          </div>
  </div>


</div>

{% endblock %}