body {
background-color: #0C0055;
}

html {
  scroll-behavior: smooth;
}



#stopka_obrazek {
  padding-bottom: 9px; /* Przestrzeń na obrazek */
  background-image: url("/static/basepage/img/lina_prosta.png");
  background-repeat: repeat-x;
  background-position: bottom;

}

#backToTop {

    display: none; bottom: 20px; right: 20px; z-index: 99; border-radius: 8px; padding: 10px 20px 15px 10px;
    background-image: url("/static/basepage/img/arrow_back_W.svg");
    background-position: right 6px bottom 0px; /* Wyśrodkowanie */
    background-repeat: no-repeat;
    background-size: contain;
}


#caly_content{
  padding-left: 9px; /* Przestrzeń na obrazek */
  padding-right: 9px; /* Przestrzeń na obrazek */
  background-image: url("/static/basepage/img/lina_prosta_pion.png"), url("/static/basepage/img/lina_prosta_pion.png");
  background-repeat: repeat-y;
  background-position: left, right;
}

.naglowek_obrazek {

  padding-bottom: 9px; /* Przestrzeń na obrazek */
  padding-top: 9px; /* Przestrzeń na obrazek */
  background-image: url("/static/basepage/img/lina_prosta.png"), url("/static/basepage/img/lina_prosta.png");
  background-repeat: repeat-x;
  background-position: top, bottom;
}

.dla_el_karuzeli {
    min-height: 240px;
}

.form-check-input {
    border-color: #000;
}

/* Styl dla całego wiersza listy po najechaniu */
.custom-check-row {
    transition: background 0.2s ease; /* Płynne przejście */
}

.custom-check-row:hover {
    background-color: #f0f0f0; /* Kolor tła po najechaniu */
    cursor: pointer;
}

/* Żeby checkbox też czuł, że najeżdżasz na wiersz */
.custom-check-row:hover .form-check-input {
    border-color: #000;
}

/* Ważne: żeby kliknięcie w "puste" miejsce wiersza też działało */
.cursor-pointer {
    cursor: pointer;
}

.custom-check-row,
.custom-check-row .form-check-input,
.custom-check-row .form-check-label {
    cursor: default !important;
}

.containerT {
  position: relative;
  width: 100%;
  height: 240px; /* Twoja wysokość */
  overflow: hidden;
}

  /* Klasa containerT jest zrobiona na potrzeby slajdu ze zdjęciem w karuzeli nagłówka dla mobilnych urządzeń */
.containerT img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Nasza blenda */
.containerT::after {
  content: "";
  position: absolute;
  inset: 0; /* Rozciąga blendę na cały kontener */
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6) 0%,    /* Najciemniej na samym dole (pod tekstem) */
    rgba(0, 0, 0, 0.6) 20%,   /* Lekkie przyciemnienie na wysokości tekstu */
    rgba(0, 0, 0, 0) 50%      /* Całkowite zaniknięcie w połowie zdjęcia */
  );
  pointer-events: none;       /* Żeby blenda nie blokowała kliknięć w obrazek */
}

.textT {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);

  width: auto;      /* Kontener tekstu na całą szerokość... */
  white-space: nowrap; /* Pilnuje, żeby napis nie uciekł pod logo */
  padding-bottom: 10px;    /* ...ale z bezpiecznym marginesem od brzegów */
  z-index: 2;       /* Nad blendę! */

  display: flex;
  flex-direction: row;
  align-items: center; /* Do lewej (lub center, jeśli wolisz) */
  justify-content: center;  /* To trzyma grupę na środku */
  gap: 10px;
}

.textT img {
  width: 40px;     /* Wpisz konkretną szerokość swojego loga! */
  height: auto;     /* To uratuje proporcje, żeby logo nie było spłaszczone */
}

.text .h3 {
  margin: 0 !important;   /* Zabija marginesy, jeśli jakieś zostały */
  line-height: 1;         /* Kasuje "puste miejsce" nad i pod tekstem */
  display: flex;          /* Pomaga w idealnym wyrównaniu */
  align-items: center;
}