body {
background-color: #0C0055;
}

html {
  scroll-behavior: smooth;
}

#naglowek_obrazek {

  padding-bottom: 9px; /* Przestrzeń na obrazek */
  padding-top: 9px; /* Przestrzeń na obrazek */
  background-image: url("/static/basepage/img/lina_prosta.png"), url("/static/basepage/img/lina_prosta.png");
  background-repeat: repeat-x;
  background-position: top, bottom;
}

#stopka_obrazek {
  padding-bottom: 9px; /* Przestrzeń na obrazek */
  background-image: url("/static/basepage/img/lina_prosta.png");
  background-repeat: repeat-x;
  background-position: bottom;

}

#backToTop {

    display: none; bottom: 20px; right: 20px; z-index: 99; border-radius: 8px; padding: 10px 20px 15px 10px;
    background-image: url("/static/basepage/img/arrow_back_W.svg");
    background-position: right 6px bottom 0px; /* Wyśrodkowanie */
    background-repeat: no-repeat;
    background-size: contain;
}


#caly_content{
  padding-left: 9px; /* Przestrzeń na obrazek */
  padding-right: 9px; /* Przestrzeń na obrazek */
  background-image: url("/static/basepage/img/lina_prosta_pion.png"), url("/static/basepage/img/lina_prosta_pion.png");
  background-repeat: repeat-y;
  background-position: left, right;
}



.dla_el_karuzeli {
    min-height: 240px;
}

.form-check-input {
    border-color: #000;
}

/* Styl dla całego wiersza listy po najechaniu */
.custom-check-row {
    transition: background 0.2s ease; /* Płynne przejście */
}

.custom-check-row:hover {
    background-color: #f0f0f0; /* Kolor tła po najechaniu */
    cursor: pointer;
}

/* Żeby checkbox też czuł, że najeżdżasz na wiersz */
.custom-check-row:hover .form-check-input {
    border-color: #000;
}

/* Ważne: żeby kliknięcie w "puste" miejsce wiersza też działało */
.cursor-pointer {
    cursor: pointer;
}

.custom-check-row,
.custom-check-row .form-check-input,
.custom-check-row .form-check-label {
    cursor: default !important;
}

